body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; 
    margin: 0;
    padding: 0 20px;
    color: white; 

}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

h2 {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 5px;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    margin-bottom: 30px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px; 

}


form button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2980b9;
}


form input:focus, form select:focus {
    border-color: #3498db;
    outline: none;
}


hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 40px 0;
}
