<!DOCTYPE html> 
<html lang="en"> 
  
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyContact</title> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script> 
</head>

<body>
  <h1>MyContact</h1> 

  <h2>Users</h2>
  <form id="userForm">
      <input type="text" id="name" placeholder="Name" required><br>
      <input type="email" id="email" placeholder="Email" required><br>
      <input type="number" id="age" placeholder="Age" required><br>
      <input type="text" id="income_level" placeholder="Income Level" required><br>
      <input type="text" id="currency" placeholder="Currency" required><br>
      <input type="text" id="risk_tolerance" placeholder="Risk Tolerance" required><br>
      <input type="number" id="retirement_age_target" placeholder="Retirement Age" required><br>
      <button type="submit">Add User</button>
  </form>
  <button onclick="fetchUsers()">Show Users</button>
  <button onclick="deleteUsers()">Delete All Users</button>
  <div id="usersList"></div>
  <hr>


  